
/* ============================================
      FORGET PASSWORD 
   ============================================ */

/* Container */
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form */
.form {

  padding: 25px;
  display: flex;
  max-width: 420px;
  
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  overflow: hidden;
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 20px;
  position: relative;
}

.form:hover{
  box-shadow: 0px 0px 20px 10px grey;
}

/* Header */
.forget-info {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 900;
}

.forget-description {
  color: #fff;
  margin-top: 10px;
  font-size: 1rem;
}

/* OTP Inputs*/
.form .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form .input-fields input {
  height: 2.5em;
  width: 2.5em;
  outline: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 12px;
  border: 2.5px solid rgba(253, 253, 253, 0.363);
  background-color: rgb(255 255 255 / 0.05);
}

/* inside each inputs style */
.form .input-fields input:focus {
  border: 2px solid #ffffff;
  box-shadow: inset -1px -1px 5px var(--textvc-shadow),
        inset 10px 10px 10px rgba(0,0,0, 0.363);
  transform: scale(1.07);
  transition: 0.5s;
}





/* Action Buttons */

.action-btns {
  display: flex;
  margin-top: 12px;
  gap: 0.5rem;
}

/* Verify Button */
.verify {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #00e384;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.verify:hover,
.verify:focus {
  color: var(--textvc-shadow);
  background: var(--verify-shadow);
  border: 1px solid var(--verify-shadow);
  
  text-shadow: 0 0 5px var(--textvc-shadow),
              0 0 10px var(--textvc-shadow),
              0 0 20px var(--textvc-shadow);
  

  box-shadow: 0 0 5px var(--verify-shadow),
              0 0 20px var(--verify-shadow),
              0 0 50px var(--verify-shadow),
              0 0 100px var(--verify-shadow);
}

/* Clear Button */
.clear {
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #ff0000;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.clear:hover,
.clear:focus {
  color: var(--textvc-shadow);
  background: var(--clear-shadow);
  border: 1px solid var(--clear-shadow);
  
  text-shadow: 0 0 5px var(--textvc-shadow),
              0 0 10px var(--textvc-shadow),
              0 0 20px var(--textvc-shadow);

  box-shadow: 0 0 5px var(--clear-shadow),
              0 0 20px var(--clear-shadow),
              0 0 50px var(--clear-shadow),
              0 0 100px var(--clear-shadow);
}

/* Close Buttons */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff0d;
  
  border: none;
  color: #ff0000;
  height: 30px;
  width: 30px;
  margin: -8px -8px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: .5s ease;
}

.close:hover {
  background-color: rgba(255, 0, 0, 0.644);
  color: #fff;
}