/* ============================================
        HISTORY PAGE
   ============================================ */



/* Cards */
.history-cards{
    transition: all 0.3s ease;
}

/* Card Content */
.history-cards-content{
    padding: 16px;
}

/* Main Layout */
.history-cards-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

/* Amount */
.history-cards-total-amount{
    font-weight: bold;
    font-size: 1.5rem;
}

.history-card-small-text, .history-cards-status{
    font-size: 0.75rem;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

/* Right Section */
.history-card-right-section{
    text-align: right;
    margin-top: 5px;
}

.history-card-items{
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: orange;
}
